/* screen - about */

.about {
  background-color: var(--heavy-metal);
  height: 3706px;
  position: relative;
  width: 1920px;
}
.about .about-PzYLCH {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.about .component-1-2-C61RwL {
  background-color: transparent;
  height: 49px;
  left: 1248px;
  position: absolute;
  top: 188px;
  width: 120px;
}
.about .component-2-2-C61RwL {
  background-color: transparent;
  height: 49px;
  left: 1520px;
  position: absolute;
  top: 188px;
  width: 248px;
}
.about .kapok-front-01-C61RwL {
  background-color: transparent;
  height: 360px;
  left: 925px;
  position: absolute;
  top: 1751px;
  width: 510px;
}
.about .lorem-ipsu-o-duo-agna-C61RwL {
  background-color: transparent;
  height: 563px;
  left: 265px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  text-align: left;
  top: 2192px;
  width: 1480px;
}
.about .lorem-ipsu-o-duo-agna-VMr6Om {
  background-color: transparent;
  height: 563px;
  left: 265px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  text-align: left;
  top: 3240px;
  width: 1508px;
}
.about .main-image-04-C61RwL {
  background-color: transparent;
  height: 1053px;
  left: -8px;
  position: absolute;
  top: 303px;
  width: 1920px;
}
.about .passport-stamps-C61RwL {
  background-color: transparent;
  height: auto;
  left: 562px;
  letter-spacing: 0.00px;
  line-height: 96px;
  position: absolute;
  text-align: left;
  top: 1542px;
  white-space: nowrap;
  width: auto;
}
.about .rectangle-1-C61RwL {
  background-color: var(--heavy-metal);
  border: 1px solid var(--dove-gray);
  height: 3706px;
  left: -8px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.about .researchers-oL9GAz {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.about .revised-da-ien-gap-04-C61RwL {
  background-color: transparent;
  height: 513px;
  left: 431px;
  position: absolute;
  top: 1656px;
  width: 625px;
}
.about .screen-sho-t-42252-pm-C61RwL {
  background-color: transparent;
  height: 386px;
  left: 633px;
  position: absolute;
  top: 2767px;
  width: 639px;
}
.about .terrain-C61RwL {
  background-color: transparent;
  height: auto;
  left: 717px;
  letter-spacing: 0.00px;
  line-height: 96px;
  position: absolute;
  text-align: center;
  top: 2538px;
  white-space: nowrap;
  width: auto;
}
.about .the-darien-gap-C61RwL {
  background-color: transparent;
  height: auto;
  left: 140px;
  letter-spacing: 0.00px;
  line-height: 96px;
  position: absolute;
  text-align: left;
  top: 124px;
  white-space: nowrap;
  width: auto;
}
.about .this-proje-keley-an-a-C61RwL {
  background-color: transparent;
  height: 874px;
  left: 190px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 442px;
  width: 1583px;
}
.about .tree-overlay-01-C61RwL {
  background-color: transparent;
  height: 7314px;
  left: -640px;
  position: absolute;
  top: 609px;
  width: 3130px;
}
.about .tree-overlay-01-MQ0YjE {
  background-color: transparent;
  height: calc(100.00% - 3029px);
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.sourceserifpro-normal-gray-nurse-35px {
  color: var(--gray-nurse);
  font-family: 'Source Serif Pro', Helvetica, Arial, serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
}
.sourceserifpro-normal-gray-nurse-36px {
  color: var(--gray-nurse);
  font-family: 'Source Serif Pro', Helvetica, Arial, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
}
.sourceserifpro-normal-gray-nurse-48px {
  color: var(--gray-nurse);
  font-family: 'Source Serif Pro', Helvetica, Arial, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
}
.sourceserifpro-normal-gray-nurse-63px {
  color: var(--gray-nurse);
  font-family: 'Source Serif Pro', Helvetica, Arial, serif;
  font-size: 63px;
  font-style: normal;
  font-weight: 400;
}
.sourceserifpro-normal-gray-nurse-96px {
  color: var(--gray-nurse);
  font-family: 'Source Serif Pro', Helvetica, Arial, serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --dove-gray: rgba(112,112,112,1.0);
  --gray-nurse: rgba(234,234,229,1.0);
  --heavy-metal: rgba(43,43,43,1.0);
}