/* screen - researchers */

.researchers {
  background-color: var(--heavy-metal);
  height: 2709px;
  position: relative;
  width: 1920px;
}
.researchers .about-zxTx7v {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.researchers .component-1-3-C61RwL {
  background-color: transparent;
  height: 49px;
  left: 1244px;
  position: absolute;
  top: 228px;
  width: 120px;
}
.researchers .component-2-3-C61RwL {
  background-color: transparent;
  height: 49px;
  left: 1534px;
  position: absolute;
  top: 228px;
  width: 248px;
}




.researchers .kristin-carlson-C61RwL {
  /*Kristin-research */
  background-color: transparent;
  height: auto;
  left: 689px;
  letter-spacing: 0.00px;
  line-height: 63px;
  position: absolute;
  text-align: left;
  top: 468px;
  white-space: nowrap;
  width: auto;
}
.researchers .lorem-ipsu-o-duo-agna-C61RwL {
  /* Name Krstin text-research */
  background-color: transparent;
  height: 310px;
  left: 692px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 545px;
  width: 1137px;
}

.researchers .lucy-C61RwL {
  /* Name Lucy -research */
  background-color: transparent;
  height: auto;
  left: 692px;
  letter-spacing: 0.00px;
  line-height: 63px;
  position: absolute;
  text-align: left;
  top:  1200px;
  white-space: nowrap;
  width: auto;
}
.researchers .lorem-ipsu-o-duo-agna-VMr6Om {
    /* Luicy text-research */
  background-color: transparent;
  height: 310px;
  left: 692px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top:  1275px;
  width: 1137px;
}
.researchers .firozeh-C61RwL {
  /* Name Firozeh -research */
  background-color: transparent;
  height: auto;
  left: 701px;
  letter-spacing: 0.00px;
  line-height: 63px;
  position: absolute;
  text-align: left;
  top: 2000px;
  white-space: nowrap;
  width: auto;
}
.researchers .lorem-ipsu-o-duo-agna-mzXdH9 {
      /*Firozeh text-research */
  background-color: transparent;
  height: 310px;
  left: 692px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 2075px;
  width: 1137px;
}
.researchers .ella-C61RwL {
  /* Name Ella -research */
  background-color: transparent;
  height: auto;
  left: 692px;
  letter-spacing: 0.00px;
  line-height: 63px;
  position: absolute;
  text-align: left;
  top: 2350px;
  white-space: nowrap;
  width: auto;
}
.researchers .lorem-ipsu-o-duo-agna-QxM5SU {
    /*Ella text-research */
  background-color: transparent;
  height: 310px;
  left: 692px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 2425px;
  width: 1137px;
}

.researchers .sam-C61RwL {
  /* Name Sam -research */
  background-color: transparent;
  height: auto;
  left: 692px;
  letter-spacing: 0.00px;
  line-height: 63px;
  position: absolute;
  text-align: left;
  top: 2575px;
  white-space: nowrap;
  width: auto;
}
.researchers .lorem-ipsu-o-duo-agna-2P4qUJ {
    /*Sam-research */
  background-color: transparent;
  height: 600px;
  left: 692px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 2650px;
  width: auto;
}

.researchers .rectangle-4-C61RwL {
  background-color: var(--heavy-metal);
  border: 1px solid var(--dove-gray);
  height: 2628px;
  left: 0px;
  position: absolute;
  top: 40px;
  width: 1920px;
}
.researchers .researchers-WMKwtv {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.researchers .the-darien-gap-C61RwL {
  background-color: transparent;
  height: auto;
  left: 180px;
  letter-spacing: 0.00px;
  line-height: 96px;
  position: absolute;
  text-align: left;
  top: 114px;
  white-space: nowrap;
  width: auto;
}
.researchers .tree-overlay-01-C61RwL {
  background-color: transparent;
  height: 2709px;
  left: -75px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.researchers .tree-overlay-01-MQ0YjE {
  background-color: transparent;
  height: calc(100.00% - 81px);
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.researchers .woman-5667299640-2P4qUJ {
  /* Sam picture */
  background-color: transparent;
  height: 303px;
  left: 140px;
  position: absolute;
  top: 2575px;;
  width: 455px;
}
.researchers .woman-5667299640-C61RwL {
  /* Kristin picture */
  background-color: transparent;
  /* height: 303px; */
  left: 140px;
  position: absolute;
  top: 468px;
  width: 20%;
}
.researchers .woman-5667299640-QxM5SU {
  /* Ella pic */
  background-color: transparent;
  height: 303px;
  left: 140px;
  position: absolute;
  top: 2350px;
  width: 455px;
}
.researchers .woman-5667299640-VMr6Om {
  /* Lucy pic */
  background-color: transparent;
  /* height: 303px; */
  left: 140px;
  position: absolute;
  top: 1200px;px;
  width: 25%;
}
.researchers .woman-5667299640-mzXdH9 {
  /* Firozeh pic */
  background-color: transparent;
  /* height: 303px; */
  left: 140px;
  position: absolute;
  top: 2000px;
  width: 455px;
}
.sourceserifpro-normal-gray-nurse-35px {
  color: var(--gray-nurse);
  font-family: 'Source Serif Pro', Helvetica, Arial, serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
}
.sourceserifpro-normal-gray-nurse-36px {
  color: var(--gray-nurse);
  font-family: 'Source Serif Pro', Helvetica, Arial, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
}
.sourceserifpro-normal-gray-nurse-48px {
  color: var(--gray-nurse);
  font-family: 'Source Serif Pro', Helvetica, Arial, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
}
.sourceserifpro-normal-gray-nurse-63px {
  color: var(--gray-nurse);
  font-family: 'Source Serif Pro', Helvetica, Arial, serif;
  font-size: 63px;
  font-style: normal;
  font-weight: 400;
}
.sourceserifpro-normal-gray-nurse-96px {
  color: var(--gray-nurse);
  font-family: 'Source Serif Pro', Helvetica, Arial, serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --dove-gray: rgba(112,112,112,1.0);
  --gray-nurse: rgba(234,234,229,1.0);
  --heavy-metal: rgba(43,43,43,1.0);
}
